<div id="social_links_small_format">
  <a href="https://www.teamviewer.com/da/download/dyngate.aspx"><%= image_tag "teamview_22.png", :alt => "LinkedIn"%></a>
  <a href="https://www.linkedin.com/in/thomas-korsgaard-schmidt-9690839/"><%= image_tag "linkedin.png", :alt => "LinkedIn"%></a>
  <a href="https://da-dk.facebook.com/krsgrd"><%= image_tag "fb.jpg", :alt => "Facebook"  %></a>
  <a href="https://twitter.com/Korsgaard"><%= image_tag "twitter.png", :alt => "Twitter"%></a>
</div>
