// Place all the styles related to the Hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.row {
    margin-bottom: 0px;
}

div.col-lg-4 {
    margin-bottom: 25px;
}

input.search_button {
  margin-top: 22px;
  padding-left: 25px;
  padding-right: 25px;
}

